h1 {
  font-size: var(--fsz-xx-large);
  font-family: var(--ffy-semi-bold), sans-serif;
}

h2 {
  font-size: var(--fsz-x-large);
  font-family: var(--ffy-semi-bold), sans-serif;
}

h3 {
  font-size: var(--fsz-large);
  font-family: var(--ffy-semi-bold), sans-serif;
}

h4 {
  font-size: var(--fsz-x-medium);
  font-family: var(--ffy-semi-bold), sans-serif;
}

h5 {
  font-size: var(--fsz-medium);
  font-family: var(--ffy-semi-bold), sans-serif;
}

h6 {
  font-size: var(--fsz-small);
  font-family: var(--ffy-semi-bold), sans-serif;
}

p {
  font-size: var(--fsz-medium);
  font-family: var(--ffy-regular), sans-serif;
}
